**/.dockerignore
**/.env
**/.git
**/.github
**/.husky
**/build
**/tf
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/secrets.dev.yaml
**/values.dev.yaml
README.md
**/.pnpm-store